#plots > *, #nodata {
  margin: 15px 0;
}
#nodata {
  color: red;
}

#db > [name="db"] {
  margin: 0 6px 1px 0;
}
#db > .hint {
  color: red;
}

.plot_legend:hover {
  cursor: pointer;
}

#color_picker {
  position: absolute;
  z-index: 1000;
  padding-left: 5px;
}
#color_picker > input {
  width: 60px;
}
