#plots > *, #nodata {
  margin: 15px 0;
}
#nodata {
  color: red;
}

#db > [name="db"] {
  margin: 0 6px 5px 0;
}
#db > .hint {
  color: red;
}

.plot_legend:hover {
  cursor: pointer;
}

#color_picker {
  position: absolute;
  z-index: 1000;
  padding-left: 5px;
}
#color_picker > input {
  width: 60px;
}

#show_notes {
  color: blue;
  font-size: small;
  margin-left: 2px;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#show_notes:hover{
  cursor: pointer;
}
