#main { display: flex; }

.form_row {
  display: flex;
  margin: 0 0 5px 0;
}
.form_col {
  width: 120px;
  margin: 0 2px;
}
.form_col > * { width: 100%; }

.form_col p {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#plot { margin: 0 20px; }

.tall_select {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 1px 0;
  margin: 0;
  height: 164px;
  background: white;
}
.tall_select > option { background: white; }

input[type=search] {
  border: 1px solid #999;
  border-radius: 3px;
  padding: 6px;
  background: white;
}

.tall_select:disabled { background: #f5f5f5; }
.tall_select:disabled > option { background: #f5f5f5; }
input[type=search]:disabled { background: #f5f5f5; }

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

label {
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#hist_info {
  width: 250px;
  display: initial;
}

#hist_info span {
  font-family: monospace;
  font-size: small;
}
#hist_info span.obj { display: block; }
#hist_info span.obj > span.obj { margin: 0 0 0 1ch; }
#hist_info span.val::before { content: " "; }
